body {
  background: #1a1831;
  font-family: "Exo 2", sans-serif;
  color: #1a1831;
}

header {
  padding: 0 0 25px;
  border-bottom: 1px solid #1a1831;
  text-align: center;
}

main {
  padding: 35px 0;
}

footer {
  padding: 25px 0 0 0;
  border-top: 1px solid #1a1831;
  text-align: center;
  font-size: 14px;
  color: rgba(25, 24, 49, 0.8);
}

a {
  color: #20615b;
}

.weather-app {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(39, 199, 171) 0%,
    rgb(70, 143, 197) 90%
  );
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.5);
}

.search-form-input {
  background: #dece9c;
  border: none;
  border-radius: 5px;
  width: 75%;
  padding: 10px;
  font-size: 16px;
}

.search-form-button {
  background: #1a1831;
  border: none;
  border-radius: 5px;
  color: #dece9c;
  padding: 10px 25px;
  font-size: 16px;
  margin-left: 5px;
  transition: all 150ms ease-in-out;
}

.search-form-button:hover {
  background: #20615b;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  opacity: 0.8;
}

.weather-app-details strong {
  color: #a21232;
}

.weather-app-temperature {
  margin-right: 10px;
}

.weather-app-icon {
  width: 100px;
  height: auto;
  display: inline;
  position: relative;
  top: 10px;
}

.weather-app-temp {
  font-size: 80px;
  font-weight: 600;
}

.weather-app-unit {
  position: relative;
  bottom: 40px;
  font-size: 30px;
  font-weight: 500;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.8;
}

.weather-forecast-icon {
  width: 50px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #a21232;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 5px;
}
